<div class="grid-personajes">
  <div class="container-personajes" *ngFor="let item of todo.results">
    <div class="box-personajes">
      <img (click)="onShowDetail(item.id)" [src]="item.image" />
      <p>{{ item.name }}</p>
    </div>
  </div>
</div>

<div class="personaje-detalles" [class.active]="showDetail">
  <div>
    <h1>{{ personajeDetalle.name }}</h1>
    <img [src]="personajeDetalle.image" />
    <p>Estado: {{ personajeDetalle.status }}</p>
    <p>Especie: {{ personajeDetalle.species }}</p>
    <p>Tipo: {{ personajeDetalle.type }}</p>
    <p>Genero: {{ personajeDetalle.gender }}</p>
    <p>Origen: {{ personajeDetalle.origin.name }}</p>
    <p>Ubicacion: {{ personajeDetalle.location.name }}</p>
    <p>Creado: {{ personajeDetalle.created }}</p>
  </div>
  <button (click)="toggleShowDetail()">Cerrar 🤍</button>
</div>
